@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    font-family: 'Outfit', sans-serif;
}

body{
    width: 100%;
    background: #10141E;
    color: #FFFFFF;
}

main{
    
    padding: 0 0 3rem 2rem;
    display: flex;
    width: auto;
    position: relative;
}

main section{
    /* border: 1px solid white; */
    width: 93%;
    padding: 4rem 2rem 0 2rem;
    position: relative;
    position: relative;
}

main section header{
    /* border: 1px solid white; */
    margin-bottom: 2.5rem;
    position: relative;
}

section header h1{
font-style: normal;
font-weight: 300;
font-size: 2rem;
line-height: 2.5rem;
letter-spacing: -0.5px;
margin-bottom: 1.56rem;
}

section .trending{
width: 102%;
/* display: none; */
overflow: hidden;
} 

section .trending-items{
    display: flex;
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    justify-content: space-between;
}

::-webkit-scrollbar {
    display: none;
    }

.trending-items .trend{
    /* border: 1px solid green; */
    margin-right: 2.5rem;
    position: relative;
    border-radius: .5rem;
    cursor: pointer;
}

.trend-image{
    position: relative;
}

.play{
    position: absolute;
    /* border: 1px solid white; */
    color: #FFFFFF;
    z-index: 3;
    top: 5.6rem;
    right: 11rem;
    width: 7.3rem;
    height: 3rem;
    display: flex;
    padding: 8px;
    align-items: center;
    background: rgba(255, 255, 255, 0.25) ;
    border-radius: 28.5px;
    opacity: 0;
    transition: 0.6s;
    cursor: pointer;
}

.play.show{
    opacity: 1;
    transition: 0.6s;
}

.play-btn{
    background: url('./assets/icon-play.svg')no-repeat;
    width: 2rem;
    height: 2rem;
    margin-right: 1.2rem;
    z-index: 5;
    border-radius: 50%;
    background-position: center;
}

.play p{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.dark{
    opacity: .5;
    transition: 0.6s;
}

.trend:nth-of-type(5){
    margin-right: 0;
}

.trending-items .trend .trend-image .small{
    display: none;
} 

.trend .trend-image .large{
    width: 29rem;
    height: 14rem;
    background-size: cover;
    border-radius: .5rem;
}

.trend .trend-info{
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 9.4rem;
    left: 1.5rem;
    z-index: 2;
    width: auto
}

.about{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 0.94rem;
    line-height: 1.2rem;
    opacity: 0.75;
}

.about .oval{
    height: 3px;
    width: 3px;
    border-radius: 50%;
    margin: 0 .5rem;
    background: #FFFFFF;
    opacity: 0.5;
}

.about span{
    height: 0.75rem;
    width: 0.75rem;
    margin-right: .5rem;
}

.trend .trend-info .trend-title{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.bookmark-btn{
    width: 2rem;
    height: 2rem;
    /* border: 1px solid white; */
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.bookmark-btn:hover{
    background: #FFFFFF;
    transition: 0.3s;
}

.bookmark-btn svg{
    width: 0.75rem;
    height: 0.88rem;
    stroke: #FFFFFF;
    stroke-width: 1.5;
    fill: none;
}

.bookmark-btn .choice{
    stroke:#10141E;
    transition: 0.3s;
}

.bookmark-btn .keep{
    stroke: #FFFFFF;
    fill: #FFFFFF;
    transition: 0.3s;
}

section .options{
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
    position: relative;
    /* width: 87vw ; */
}

.options h1{
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
    margin-bottom: 2rem;
}

.options .option{
    /* border: 1px solid white; */
    width: 100%;
    position: relative;   
}

.option .option-image{
    /* border: 1px solid white; */
    z-index: 1;
}

.options .option .play{
    position: absolute;
    top: 4rem;
    right: 30%;
}

.option-image:hover{
    opacity: 0.5;
    cursor: pointer;
}

.options .option .large{
    height: 11rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: .4rem;
}

.options .option .medium, .small{
    display: none;
}
.option .about{
    /* border: 1px solid burlywood; */
    display: flex;
}

.option .option-info .option-title{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
}



@media screen and (max-width:850px) {
    main{
        padding: 0 1.5rem 3rem 1.5rem;
        flex-direction: column;
        width: auto;
        position: relative;
    }
    main section{
        border: 1px solid white;
        width: 100%;
        padding: 0;
        position: relative;
    }
    
    main section header{
        /* border: 1px solid white; */
        margin-bottom: 2.5rem;
    }
    
    section header h1{
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
    margin-bottom: 1.56rem;
    }
    
    section .trending{
    width: 100%;
    /* display: none; */
    overflow: hidden;
    } 
    
    ::-webkit-scrollbar {
        display: none;
        }
    
    .trending-items .trend{
        /* border: 1px solid green; */
        margin-right: 2.5rem;
        position: relative;
        border-radius: .5rem;
        cursor: pointer;
    }
    
    .trend-image{
        position: relative;
    }
    
    .play{
        position: absolute;
        /* border: 1px solid white; */
        color: #FFFFFF;
        z-index: 3;
        top: 5.6rem;
        left: 11rem;
        /* width: 7.3rem;
        height: 3rem; */
        display: flex;
        padding: 9px;
        align-items: center;
        background: rgba(255, 255, 255, 0.25) ;
        border-radius: 28.5px;
        opacity: 0;
        transition: 0.6s;
        cursor: pointer;
    }
    
    .play.show{
        opacity: 1;
        transition: 0.6s;
    }
    
    .play-btn{
        background: url('./assets/icon-play.svg')no-repeat;
        width: 2rem;
        height: 2rem;
        margin-right: 1.2rem;
        z-index: 5;
    }
    
    .play p{
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }
    
    .dark{
        opacity: .5;
        transition: 0.6s;
    }
    
    .trend:nth-of-type(5){
        margin-right: 0;
    }
    
    .trending-items .trend .trend-image .small{
        display: none;
    } 
    
    .trend .trend-image .large{
        width: 29rem;
        height: 14rem;
        background-size: cover;
        border-radius: .5rem;
    }
    
    .trend .trend-info{
        /* border: 1px solid pink; */
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 9.4rem;
        left: 1.5rem;
        z-index: 2;
    }
    
    .about{
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 0.94rem;
        line-height: 1.2rem;
        opacity: 0.75;
    }
    
    .about .oval{
        height: 3px;
        width: 3px;
        border-radius: 50%;
        margin: 0 .5rem;
        background: #FFFFFF;
        opacity: 0.5;
    }
    
    .about span{
        height: 0.75rem;
        width: 0.75rem;
        margin-right: .5rem;
    }
    
    .trend .trend-info .trend-title{
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
    
    .bookmark-btn{
        width: 2rem;
        height: 2rem;
        /* border: 1px solid white; */
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 2;
    }
    
    .bookmark-btn:hover{
        background: #FFFFFF;
        transition: 0.3s;
    }
    
    .bookmark-btn svg{
        width: 0.75rem;
        height: 0.88rem;
        stroke: #FFFFFF;
        stroke-width: 1.5;
        fill: none;
    }
    
    .bookmark-btn .choice{
        stroke:#10141E;
        transition: 0.3s;
    }
    
    .bookmark-btn .keep{
        stroke: #FFFFFF;
        fill: #FFFFFF;
        transition: 0.3s;
    }
    
    section .options{
        /* border: 1px solid white; */
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2rem;
        position: relative;
        /* width: 87vw ; */
    }
    
    .options h1{
        font-style: normal;
        font-weight: 300;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -0.5px;
        margin-bottom: 2rem;
    }
    
    .options .option{
        /* border: 1px solid white; */
        width: 100%;
        position: relative;   
    }
    
    .option .option-image{
        /* border: 1px solid white; */
        z-index: 1;
    }
    
    /* .options .option .play{
        position: absolute;
        top: 4rem;
        left: 4rem;
        right: 4rem;
    } */
    
    .option-image:hover{
        opacity: 0.5;
        cursor: pointer;
    }
    
    .options .option .large{
        height: 11rem;
        width: 100%;
        border-radius: 0.5rem;
        margin-bottom: .4rem;
    }
    
    .options .option .medium, .small{
        display: none;
    }
    .option .about{
        /* border: 1px solid burlywood; */
        display: flex;
    }
    
    .option .option-info .option-title{
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
}