@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    width: 100%;
    background: #10141E;
    color: #FFFFFF;
    transition: 1s;
}

main{
    padding: 0 0 3rem 2rem;
    display: flex;
    width: auto;
    position: relative;
}

main section{
    /* border: 1px solid white; */
    width: 93%;
    padding: 4rem 2rem 0 2rem;
    position: relative;
}
main section{
    height: 48rem;
    overflow:   scroll;
    /* margin-bottom: -1rem; */
}

main section header{
    /* border: 1px solid white; */
    margin-bottom: 2.5rem;
    position: relative;
}

section header h1{
font-style: normal;
font-weight: 300;
font-size: 2rem;
line-height: 2.5rem;
letter-spacing: -0.5px;
margin-bottom: 1.56rem;
}

section .trending{
width: 102%;
/* display: none; */
overflow: hidden;
} 

section .trending-items{
    display: flex;
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    justify-content: space-between;
}

::-webkit-scrollbar {
    display: none;
    }

.trending-items .trend{
    /* border: 1px solid green; */
    margin-right: 2.5rem;
    position: relative;
    border-radius: .5rem;
    cursor: pointer;
}

.trend-image{
    position: relative;
    border-radius: .5rem;
}

.play{
    position: absolute;
    /* border: 1px solid white; */
    color: #FFFFFF;
    z-index: 3;
    top: 5.6rem;
    right: 11rem;
    width: 7.3rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    background: rgba(255, 255, 255, 0.25) ;
    border-radius: 28.5px;
    opacity: 0;
    transition: 0.6s;
    cursor: pointer;
}

.play.show{
    opacity: 1;
    transition: 0.6s;
    justify-content: space-between;
}

.play-btn{
    background: url('./assets/icon-play.svg')no-repeat;
    width: 2.5rem;
    height: 3rem;
    margin-right: 1.2rem;
    z-index: 5;
    background-position: center;
}

.play p{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    position: absolute;
    left: 50%;
    color: #FFFFFF;
    /* margin-left: .7rem; */
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    border-radius: .5rem;
}

.overlay.dark{
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.trend:nth-of-type(5){
    margin-right: 0;
}

.trend .trend-image .small{
    display: none;
} 

.trend .trend-image .large{
    width: 29rem;
    height: 14rem;
    background-size: cover;
    border-radius: .5rem;
}

.trend .trend-info{
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 9.4rem;
    left: 1.5rem;
    width: auto;
    z-index: 5;
}

.about{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 0.94rem;
    line-height: 1.2rem;
    opacity: 0.75;
    color: #FFFFFF;
}

.about.light-text{
    color: #10141E;
}

.about .oval{
    height: 3px;
    width: 3px;
    border-radius: 50%;
    margin: 0 .5rem;
    background: #FFFFFF;
    opacity: 0.5;
}

.oval.light-theme{
    background: #10141E;
}

.trend .trend-info .trend-title{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #FFFFFF;
}

.trend .bookmark-btn{
    width: 2rem;
    height: 2rem;
    /* border: 1px solid white; */
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
}

.trend .bookmark-btn:hover{
    background: #FFFFFF;
    transition: 0.3s;
}

.trend .bookmark-btn svg{
    width: 0.75rem;
    height: 0.88rem;
    stroke: #FFFFFF;
    stroke-width: 1.5;
    fill: none;
}

.trend .bookmark-btn .choice{
    stroke:#10141E;
    transition: 0.3s;
}

.trend .bookmark-btn .keep{
    stroke: #FFFFFF;
    fill: #FFFFFF;
    transition: 0.3s;
}
.searchItems {
    /* height: 11rem; */
    width: 25rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
    position: relative;
    z-index: -2;
}
.searchItems .search-item-info{
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 10rem;
    z-index: 5;
}

.searchItems .bookmark-btn {
    width: 2rem;
    height: 2rem;
    /* border: 1px solid white; */
    position: absolute;
    top: 1rem;
    left: 15.5rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
}
.searchItems .bookmark-btn:hover{
    background: #FFFFFF;
    transition: 0.3s;
}

.searchItems .bookmark-btn svg{
    width: 0.75rem;
    height: 0.88rem;
    stroke: #FFFFFF;
    stroke-width: 1.5;
    fill: none;
}

.searchItems .bookmark-btn .choice{
    stroke:#10141E;
    transition: 0.3s;
}

.searchItems .bookmark-btn .keep{
    stroke: #FFFFFF;
    fill: #FFFFFF;
    transition: 0.3s;
}
/* .searchItems .search-item{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
    position: relative;
} */
.search-item-img{
   width: 18rem;
   height: 12rem;
   border-radius: .5rem;
}

section .options{
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
    position: relative;
    /* width: 87vw ; */
}

main section h1{
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
    margin-bottom: 2rem;
}

.options .option{
    /* border: 1px solid white; */
    width: 100%;
    position: relative; 
}

.option .option-image{
    /* border: 1px solid white; */
    z-index: 1;
}

.options .option .play{
    position: absolute;
    top: 4rem;
    right: 30%;
}

.option-image:hover{
    opacity: 0.5;
    cursor: pointer;
}

.options .option .large{
    height: 11rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: .4rem;
}

.options .option .medium, .small{
    display: none;
}
.option .about{
    /* border: 1px solid burlywood; */
    display: flex;
}

.option .option-info{
position: relative;
    z-index: 5;
}

.option .option-info .option-title{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.option .bookmark-btn{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
}

.option .bookmark-btn:hover{
    background: #FFFFFF;
}

.option .bookmark-btn svg{
    width: 0.75rem;
    height: 0.88rem;
    stroke: #fff;
    stroke-width: 1.5;
    fill: none;
}

.option .bookmark-btn .choice{
    stroke: #10141E;
    transition: 0.3s;
}
.option .bookmark-btn .keep{
    stroke: #fff;
    fill: #fff;
    transition: 0.3s;
}
.searchItems{
    /* height: 11rem; */
    width: 25rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
    position: relative;
    z-index: -2;
    margin-top: 3rem;
}

 .search-item-info{
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 10rem;
    z-index: 5;
}

.search-item .bookmark-btn {
    width: 2rem;
    height: 2rem;
    position: relative;
    top: -12rem;
    margin-left: -.5rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
}
.search-item .bookmark-btn:hover{
    background: #FFFFFF;
    transition: 0.3s;
}

.search-item .bookmark-btn svg{
    width: 0.75rem;
    height: 0.88rem;
    stroke: #FFFFFF;
    stroke-width: 1.5;
    fill: none;
}

.searchItems .bookmark-btn .choice{
    stroke:#10141E;
    transition: 0.3s;
}

.searchItems .bookmark-btn .keep{
    stroke: #FFFFFF;
    fill: #FFFFFF;
    transition: 0.3s;
}
/* .searchItems .search-item{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
    position: relative;
} */
.search-item-img{
   width: 18rem;
   height: 12rem;
   border-radius: .5rem;
}

@media  only screen and (max-width: 820px) and (min-width:480px){
    main{
        padding: 0 1.5rem 3rem 1.5rem;
        flex-direction: column;
        width: 55rem;
        position: relative;
    }
    main section{
        /* border: 1px solid white; */
        width: 54rem;
        padding: 0;
        position: relative;
    }
    main section{
        height: 75rem;
        overflow:   scroll;
        /* margin-bottom: -1rem; */
    }
    
    main section header{
        /* border: 1px solid white; */
        margin-bottom: 2.5rem;
    }
    
    section header h1{
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
    margin-bottom: 1.56rem;
    }
    
    section .trending{
    width: 100%;
    /* display: none; */
    overflow: hidden;
    } 
    /* nav{
        width: 50rem;
    } */
    ::-webkit-scrollbar {
        display: none;
        }
    
    .trending-items .trend{
        /* border: 1px solid green; */
        margin-right: 2.5rem;
        position: relative;
        border-radius: .5rem;
        cursor: pointer;
    }
    
    .trend-image{
        position: relative;
    }
    
    
    
    /* .play-btn{
        background: url('./assets/icon-play.svg')no-repeat;
        width: 5rem;
        height: 2rem;
        margin-right: 1.2rem;
        z-index: 5;
    }
    

    .trend:nth-of-type(5){
        margin-right: 0;
    }
    */

    .trend .trend-info{
        /* border: 1px solid pink; */
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 9.4rem;
        left: 1.5rem;
        z-index: 2;
    }
    
    .about{
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 0.94rem;
        line-height: 1.2rem;
        opacity: 0.75;
    }
    
    .about .oval{
        height: 3px;
        width: 3px;
        border-radius: 50%;
        margin: 0 .5rem;
        background: #FFFFFF;
        opacity: 0.5;
    }
    
    .about span{
        height: 0.75rem;
        width: 0.75rem;
        margin-right: .5rem;
    }
    
    .trend .trend-info .trend-title{
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
    
    .option .bookmark-btn{
        width: 2rem;
        height: 2rem;
        position: relative;
        top: -13rem;
        left: 13.5rem;
        border-radius: 50%;
        background: #10141E;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 2;
    }
    
    section .options{
        /* border: 1px solid white; */
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2rem;
        position: relative;
        width: fit-content;
        margin-right: 1rem;
    }
    
    main section h1{
        font-style: normal;
        font-weight: 300;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -0.5px;
        margin-bottom: 2rem;
    }
    
    .options .option{
        /* border: 1px solid white; */
        width: 100%;
        position: relative;   
    }
    
    .option .option-image{
        /* border: 1px solid white; */
        z-index: 1;
    }
    
    .options .option .play{
        left: 25%;
        /* right: 20%; */
    }
    
    .option-image:hover{
        opacity: 0.5;
        cursor: pointer;
    }
    
    .options .option .large, .small{
        display: none;
    }
    
    .options .option .medium{
        display: block;
        width: 100%;
        border-radius: 0.5rem;
        margin-bottom: .4rem;
    }
    .option .about{
        /* border: 1px solid burlywood; */
        display: flex;
    }
    
    .option .option-info .option-title{
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.875rem;
    }
    .option .overlay{
        height: 10.5rem;
    }
    .searchItems{
        /* height: 11rem; */
        width: 20rem;
        display: grid;
        grid-template-columns: auto auto auto;
        position: relative;
        margin-left: 8.5rem;
    }
    
     .search-item-info{
        /* border: 1px solid pink; */
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 10rem;
        z-index: 5;
        /* margin-top: 1rem; */
    }
    
    .search-item .bookmark-btn {
        width: 2rem;
        height: 2rem;
        top: -7rem;
        left: 7.5rem;
       
    }
    .search-item .bookmark-btn:hover{
        background: #FFFFFF;
        transition: 0.3s;
    }
    
    .search-item .bookmark-btn svg{
        width: 0.75rem;
        height: 0.88rem;
        stroke: #FFFFFF;
        stroke-width: 1.5;
        fill: none;
    }
    
    .searchItems .bookmark-btn .choice{
        stroke:#10141E;
        transition: 0.3s;
    }
    
    .searchItems .bookmark-btn .keep{
        stroke: #FFFFFF;
        fill: #FFFFFF;
        transition: 0.3s;
    }
    /* .searchItems .search-item{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 2rem;
        position: relative;
    } */
    .search-item-img{
        width: 10rem;
        height: 7rem;
        border-radius: .5rem;
        margin-top: 2rem;
     }
   
}


@media  only screen and (max-width: 420px) and (min-width:305px) {
    main{
        padding: 0 1.5rem 3rem 1.5rem;
        flex-direction: column;
        width: 70.5rem;
        left: -1.5rem;
        margin-right: -20rem;
        position: relative;
    }
    main section{
        /* border: 1px solid white; */
        width: 67rem;
        padding: 0;
        position: relative;
        margin-top: 2rem;
        margin-left: 2.5rem;
    }
    nav {
        width: 70rem;
    }
    nav .links{
        width: 20rem;
      
    }
    
    main section header{
        /* border: 1px solid white; */
        margin-bottom: 2.5rem;
        margin-top: 1.5rem;
    }
    main section{
        height: 140rem;
        overflow:   scroll;
        /* margin-bottom: -1rem; */
    }
    
    section header h1{
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
    margin-bottom: 1.56rem;
    }
    
    section .trending{
    width: 100%;
    /* display: none; */
    overflow: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
        }
    
    .trending-items .trend{
        /* border: 1px solid green; */
        margin-right: 2.5rem;
        position: relative;
        border-radius: .5rem;
        cursor: pointer;
    }
    
    .trend-image{
        position: relative;
    }

    .trend:nth-of-type(5){
        margin-right: 0;
    }
    
    .trending-items .trend .trend-image .small{
        display: none;
    } 
    
    .trend .trend-image .large{
        width: 29rem;
        height: 14rem;
        background-size: cover;
        border-radius: .5rem;
    }
    
    .trend .trend-info{
        /* border: 1px solid pink; */
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 9.4rem;
        left: 1.5rem;
        z-index: 2;
    }
    
    .about{
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 0.94rem;
        line-height: 1.2rem;
        opacity: 0.75;
    }
    
    .about .oval{
        height: 3px;
        width: 3px;
        border-radius: 50%;
        margin: 0 .5rem;
        background: #FFFFFF;
        opacity: 0.5;
    }
    
    .about span{
        height: 0.75rem;
        width: 0.75rem;
        margin-right: .5rem;
    }
    
    .trend .trend-info .trend-title{
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
    
    .option .bookmark-btn{
        width: 2rem;
        height: 2rem;
        position: relative;
        top: -14rem;
        left: 20rem;
        border-radius: 50%;
        background: #10141E;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 2;
    }
    
    section .options{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: -2rem;
        margin-left: 4rem;
        /* width: 21.438rem; */
    }

    
    .options h1{
        font-style: normal;
        font-weight: 300;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: -0.5px;
        margin-bottom: 2rem;
    }
    
    .options .option{
        /* border: 1px solid white; */
        width: 100%;
        /* position: relative;    */
    }
    
    .option .option-image{
        /* border: 1px solid white; */
        z-index: 1;
        width: 20rem;
    }
    
    /* .options .option .play{
        position: absolute;
        top: 4rem;
        left: 4rem;
        right: 4rem;
    } */
    
    .option-image:hover{
        opacity: 0.5;
        cursor: pointer;
    }
     /* .play-btn{
        background: url('./assets/icon-play.svg')no-repeat;
        width: 2.5rem;
        height: 3rem;
        margin-right: -2.2rem;
        z-index: 5;
        background-position: center;
    } */
    .option .play{
        z-index: 3;
        top: 6.6rem;
        margin-right: 7rem;
        width: 7.3rem;
        height: 3rem;
    }
    .options .option .large{
        height: 12rem;
        width: 23rem;
        border-radius: 0.5rem;
        margin-bottom: .4rem;
    }
    
    .options .option .medium, .small{
        display: none;
    }
    .option .about{
        /* border: 1px solid burlywood; */
        display: flex;
    }
    
    .option .option-info .option-title{
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
    .option .overlay{
        width: 23rem;
        height: 12rem;
    }

    .searchItems{
        /* height: 11rem; */
        margin-top: 5rem;
        width: 10rem;
        display: grid;
        grid-template-columns: auto auto ;
        grid-gap: 6rem ;
        position: relative;
        z-index: -2;
        margin-left: 12rem;
    }
    .searchItems .search-item-info{
        /* border: 1px solid pink; */
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 10rem;
        z-index: 5;
    }
    
    .searchItems .bookmark-btn {
        width: 2rem;
        height: 2rem;
        top: -10rem;
        left: 11.5rem;
       
    }
    .searchItems .bookmark-btn:hover{
        background: #FFFFFF;
        transition: 0.3s;
    }
    
    .searchItems .bookmark-btn svg{
        width: 0.75rem;
        height: 0.88rem;
        stroke: #FFFFFF;
        stroke-width: 1.5;
        fill: none;
    }
    
    .searchItems .bookmark-btn .choice{
        stroke:#10141E;
        transition: 0.3s;
    }
    
    .searchItems .bookmark-btn .keep{
        stroke: #FFFFFF;
        fill: #FFFFFF;
        transition: 0.3s;
    }
    /* .searchItems .search-item{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 2rem;
        position: relative;
    } */
    .search-item-img{
       width: 15rem;
       height: 11rem;
       border-radius: .5rem;
    }
}