nav{
    height: 100vh;
    width: 7%;
    background: #161D2F;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 2rem;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav.light{
    background: #5A698F;
    border: 2px solid #161D2F;
}

nav .logo{
    /* border: 1px solid white; */
    background: url('./assets/logo.svg');
    width: 2rem;
    height: 1.56rem;
    background-size: cover;
    margin-bottom: 4.7rem;
}

nav .links{
    /* border: 1px solid white; */
    list-style: none;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

nav .links a{
    /* border: 1px solid white; */
    width: 1.25rem;
    height: 1.25rem;
}

nav .links a.lightlinks{
    filter: brightness(0) saturate(100%) invert(5%) sepia(8%) saturate(4816%) hue-rotate(187deg) brightness(90%) contrast(92%);
}

.active{
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(37deg) brightness(107%) contrast(101%);
}

nav .links .home{
    background: url('./assets/icon-nav-home.svg');
    background-size: cover;
}

nav .links .tv-series{
    background: url('./assets/icon-nav-tv-series.svg');
    background-size: cover;
}

nav .links .movies{
    background: url('./assets/icon-nav-movies.svg');
    background-size: cover;
}

nav .links .bookmarks{
    background: url('./assets/icon-nav-bookmark.svg');
    width: 1rem;
    background-size: cover;
}

nav .links a:hover{
    filter: brightness(0) saturate(100%) invert(59%) sepia(78%) saturate(5955%) hue-rotate(335deg) brightness(104%) contrast(102%);
    }

nav .user-avatar{
    border: 2px solid white;
    margin-top: auto;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: url('./assets/image-avatar.png');
    background-size: cover;
}

.user-avatar.border{
    border: 2px solid #161D2F;
}

@media screen and (max-width:850px) {
    nav{
        height: auto;
        width: 100%;
        background: #161D2F;
        border-radius: 20px;
        padding: 1.5rem;
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    
    }
    
    nav .logo{
        /* border: 1px solid white; */
        background: url('./assets/logo.svg');
        width: 2rem;
        height: 1.56rem;
        background-size: cover;
        margin-bottom: 0;
    }
    
    nav .links{
        /* border: 1px solid white; */
        list-style: none;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        width: 27%;
    }
    
    nav .links a{
        /* border: 1px solid white; */
        width: 1.25rem;
        height: 1.25rem;
    }
    
    .active{
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(37deg) brightness(107%) contrast(101%);
    }
    
    nav .links .home{
        background: url('./assets/icon-nav-home.svg');
        background-size: cover;
    }
    
    nav .links .tv-series{
        background: url('./assets/icon-nav-tv-series.svg');
        background-size: cover;
    }
    
    nav .links .movies{
        background: url('./assets/icon-nav-movies.svg');
        background-size: cover;
    }
    
    nav .links .bookmarks{
        background: url('./assets/icon-nav-bookmark.svg');
        width: 1rem;
        background-size: cover;
    }
    
    nav .links a:hover{
        filter: brightness(0) saturate(100%) invert(59%) sepia(78%) saturate(5955%) hue-rotate(335deg) brightness(104%) contrast(102%);
        }
    
    
    nav .user-avatar{
        border: 1px solid white;
        margin-top: 0;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background: url('./assets/image-avatar.png');
        background-size: cover;
    }

    @media screen and (max-
    ) {
        
    }
    
}